h1 {
	color: black;
}

body {
	background-image: url(../img/white_brick_wall.png);
	font-family: 'Play', sans-serif;
	margin: 0;
}

div {
	text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

p {
	text-align: center;
}

i {
  margin-right: 10px;
}

h4 {
  padding-left: 10px;
}

/*********** New Index Design Start ***********/
.main_menu{
  margin-top: 20px;
}
div.main_menu div{
  background: #bbb;
  display: inline;
  margin: 1px;
  padding: 10px;
  border-radius: 5px;
}
.main_menu a{
  color: #FFFFFF;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.main_menu div:hover{
  background: #2FC5FF;
  border-radius: 5px;
}
/*********** New Index Design End ***********/

/*Table Start*/
table{
  width: 100%;
}
td, th {
  border-width: 1px;
  border-color: solid #333;
  padding: 3px;
}

thead, tfoot {
  background-color: #F0F0F0;
}

tbody {
  background-color: #FFFFFF;
}

tbody:hover {
  background-color: #F5E0CD;
}
/*Table Finish*/

/*********** Test Button Wrapper Start ***********/
.grid-cell-4{
  position: relative;
  background-color: #333;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border-radius: 10px;
}
.button{
  background-color: #2FC5FF;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
}
.circeletest{
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  bottom: 1px;
  left: 100px;
}
/*********** Test Button Wrapper End ***********/



/* Something Beautiful 1 Start */
#sb1{
  background-color: #E3EEF3;
}
#sb1_1{
  background-color: #ffffff;
  width: 490px;
  height: 340px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 25px;
}
#sb1_img img{
  width: 250px;
  height: 200px;
}
#sb1_img h1{
  color: #00D86B;
}
#sb1_img p{
  color: #B1B1B2;
}
#sb1_img button{
  border-radius: 10px;
  background-color: #00D86B;
  color: #FFFFFF;
  padding: 10px;
  border: none;
}
/*********** Something Beautiful 1 End ***********/

/*********** Something Beautiful 2 Start ***********/
#sb2MainDiv{
  background-color: #374251;
  width: 500px;
  height: 350px;
  margin: 200px auto; /*position center*/
  border-top: 5px solid #80D341;
  border-radius: 5px
}

#sb2MainDivContent h1{
  color: #FFFFFF;
  text-align: center;
}
#sb2MainDivContent p{
  color: #FFFFFF;
  text-align: center;
}
#sum{
  height: 20px;
}

#sum b{
  display: inline-block;
  padding: 5px;
  background-color: #262C36;
  border-radius: 5px;
  color: #F0F0F0;
}
#sum b:hover{
  background-color: #80D341;
  cursor: pointer;
}
#ccn{
  margin-top: 15px;
}
#ccn input{
  width: 265px;
  background-color: #262C36;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
#details{
  display: inline-block;
  margin-top: 10px;
}

#details input{
  background-color: #262C36;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}
#cardhName{
  width: 135px;
  color: #fff;
}
#mmyy{
  width: 45px;
  color: #fff;
}
#cvc{
  width: 35px;
  color: #fff;
}

#depositAccept button{
  background-color: #80D341;
  border: none;
  color: #fff;
  width: 285px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
#depositAccept button:hover{
  opacity: 0.85;
  cursor: pointer;
}
/*********** Something Beautiful 2 End ***********/

/*********** CSS Hover Effects Start ***********/
#CSS_H_E{
  width: 100%;
  height: 100vh;
  background-color: rgb(211, 212, 211);
  overflow: hidden;
}
#CSS_H_E #box{
  width: 25px;
  height: 25px;
  float: left;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border: 1px solid;
  border-color: #bbb;
}
#CSS_H_E #box:hover{
  background: #000;
  -webkit-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
}
#CSS_H_E #box:hover:nth-child(9n + 1){
  background: rgb(0, 216, 107);
}
#CSS_H_E #box:hover:nth-child(9n + 2){
  background: rgb(72, 255, 0);
}
#CSS_H_E #box:hover:nth-child(9n + 3){
  background: rgb(216, 0, 180);
}
#CSS_H_E #box:hover:nth-child(9n + 4){
  background: rgb(22, 7, 104);
}
#CSS_H_E #box:hover:nth-child(9n + 5){
  background: rgb(241, 238, 10);
}
#CSS_H_E #box:hover:nth-child(9n + 6){
  background: rgb(250, 65, 8);
}
#CSS_H_E #box:hover:nth-child(9n + 7){
  background: rgb(255, 4, 4);
}
#CSS_H_E #box:hover:nth-child(9n + 8){
  background: rgb(3, 242, 250);
}
#CSS_H_E #box:hover:nth-child(9n + 9){
  background: rgb(141, 2, 255);
}
/*********** CSS Hover Effects End ***********/