h1{
	color: black;
}

body{
	background-color: #F8F9FB;
	font-family: 'Play', sans-serif;
	margin: 0;
}

div{
	text-align: center;
  align-content: center;
}

p{
	text-align: center;
}

ul {
  list-style: none; 
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 444px;
  margin: 0 auto 30px;
  
}
.one ul {
  background: #f2f2f2;
  overflow: hidden;
  padding: 0;
}
.one li {
  float: left;
}
.one a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
.one a:hover {background: #ADC0CE}

/* Design Menu End*/

/* Pictures in future */

/*Table Start*/
table{
  width: 100%;
}
td, th {
  border-width: 1px;
  border-color: solid #333;
  padding: 3px;
}

thead, tfoot {
  background-color: #F0F0F0;
}

tbody {
  background-color: #FFFFFF;
}

tbody:hover {
  background-color: #F5E0CD;
}
/*Table Finish*/